.cnavbar {
    background-color: #2d7c47;
    box-shadow: 0 5px 18px #adb5bd;
}

.nav-link{
    color: white; !important
}

.nav-link:hover{
    color: #adb5bd; !important;
}

.navbar-brand{
    color: white; !important;
}

.navbar-brand:hover{
    color: #adb5bd; !important;
}
